*{
    padding:0;
    margin:0;
    text-decoration: none;
}
body{
    font-family:Arial, sans-serif;
}
.navbar
{
    padding:0px;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    position: sticky;
    top:0%;
    background-color: yellowgreen;
    z-index: 1;
}

.logo img{
    padding-left:150px;
    color: black;
    margin:0px;
    width:100px;
height:50px;
background-color: yellowgreen;
}

.menu{
    
    display:flex;
    justify-content:center;
    gap:10px;
    align-items:center; 
    text-align: center;
    color:black;
}
a{
    text-decoration: none;
    color:black;
}
.logo2 img{
    display:flex;
    align-items: center;
width:20px;
height:20px;
}
.rightbox{
    display:flex;
    align-items: center;
gap:10px;
color: black;
}
.btnsignin{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:4px 4px;
    margin-right:250px;
    border-radius: 15px;
    background-color: black;
    color:white;
    font-weight: bold;
    border: 1px solid black;
    
}
.navbar .btnsignin:hover{
    background-color:green;
}
.main{
    display: flex;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:800;
font-size:xx-large;
padding-top: 30px;
margin-left: 100px;

}

.main__items{
    padding:50px;
    display:flex;
    justify-content: center;
    gap:30px;
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.main h1{
    font-weight: lighter;
}
.main__search{
    padding:10px;
    margin-left:550px;
    border:solid black 1px;
    border-radius:30px;
    width:40%;
    display:flex;
    gap:10px;
    justify-content: center;
    align-items:center;
}
.main__search input{
border:none;
width:100%;
font-size:16px;

}
.main__search input:focus{
    outline:none;
}

.search{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:4px 4px;
    
    border-radius: 15px;
    background-color: greenyellow;
    color:black;
    font-weight: bold;
    border: 1px solid black;
    
}
.place-image{ 
   position:relative; 
}
.place-image img{
    width:75%;
    height:540px;
    margin-left:300px;
    margin-top:20px;
    border-radius:15px;
    border: solid black 1px;
    padding:0px;  
}
.place-image-2025 {
    width:250%;
   
    padding:8px;
   color:white;
    position:absolute;
    top:50%;
    left:25%;

}
.place-image--2025{
    background-color: white;
    padding:5px;
    width:150px;
    position:absolute;
    top:60%;
    left:25%;
    color:black;

}
.main1{
    padding:10px;
    margin-left:250px; 
    margin-right:50px;
    
}

.best{
    padding:0px;
    margin-top:60px;
    
    
}
.best__container{
    display:flex;
    flex-wrap: wrap;  
    justify-content: center;
    margin-top: 10px;
}



.explore{
    padding:0px;
    margin-top:60px;
    
}
.explore__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.inspiration{
    padding:0px;
    margin-top:60px;
}
.inspiration__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.things{
    padding:0px;
    margin-top:60px;
    
}
.things__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    

}
.nexttrip{
    padding:0px;
    margin-top:60px;
}
.nexttrip h2,h3{
    color:rgb(43, 73, 43);
}
.nexttrip__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}



.course-card{
    flex-grow: 1;
    flex-basis:10px;
    gap:5px;
    
}
.course-card img{
    width:85%;
    height:70%;
}
.course-card img:hover{
    opacity:0.3;
}  
    

.best__container .course-card{
    position:relative;
    
} 
.course-card .dine{
    position:absolute;
    top:100px;
    color:black;
    padding:2px;
    background-color: white;
    border:solid black1px;
    font-weight: bold;
    
    
    
}
.nexttrip__container .course-card{
    position:relative;
}
.course-card .next{
    position:absolute;
    top:100px;
    color:black;
    padding:2px;
    background-color: white;
    border:solid black1px;
    font-weight: bold;
    
}
/*footer image*/
.place2-image{ 
   position:relative; 
}
.place2-image img{
    width:100%;
    height:700px;
    padding:0px;  
}
.place2-image-2025 {
    width:50%;
    height:50%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bolder;
   font-size :32px;
    padding:8px;
   color:white;
    position:absolute;
    top:30%;
    left:5%;

}
.place2-image--2025{
    background-color: green;
    border-radius: 15px;
    margin-top:10px;
    padding:10px;
    width:150px;
    height:30px;
    position:absolute;
    top:62%;
    left:5%;
    color:white;

}
.footer{
    margin-top:100px;
    background-color: #f2f2f2;
    
}

.footer-container{
    padding:50px 220px 40px 220px;
    display: grid;
grid-template-columns: repeat(4,1fr);
    gap:40px;
    margin-bottom:15px;
    
    
}
.footer-column h4{
    font-size:16px;
    color:#000;
    margin-bottom:15px;
    font-weight: lighter;
    ;
}
.footer-column ul{
    list-style:none;
}
.footer-column ul li{
    margin-bottom: 15px;
}
.footer-column ul li a{
    text-decoration:none;
    color:#333;
    font-size:14px;
    
}
.footer-column ul li a:hover{
    color: #000;
    text-decoration: underline;
}

.bottom-footer{
    padding:50px 220px 40px 220px;

}
.bottom-logo{
    display:flex;
    align-items:center;  

}
.bottom-logo img{

    width:50px;
    height:50px;
}
.bottom-footer a{
    display:inline;
    padding-right:20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 14px;
    text-decoration: underline;
}
.bottom-footer p{
 padding-top:2px;
 font-size: 14px;
}
.footer-column p{
    font-size: 14px;

}
button{
    cursor:pointer;
}
details{
    padding:0px;
}
summary{
    cursor:pointer;
    font-size: 14px;
    font-weight:bold;
    display:inline-block;
}
summary::after {
    content: "Read more";
}
details[open] summary::after {
    content: "Read less";
}
details{
    padding:10px;
}

/*media Queries*/
@media screen and (max-width:800px){
    body{
    font-size:10px;
    
    

    }
    

    }
    
    @media screen and (max-width:600px){
        
    .logo{
        margin-left:0px;
        padding:0px;
    }
    .menu {
        display:none;
    }
    .logo2 {
        display:none;
    }
    .inr{
        display:none;
        }
        .rightbox{
            margin-left:200px;
        }
    .main1{
        padding:10px;
        margin-left:100px; 
        margin-right:50px;
    
}
    .place-image img{ 
        width:65%;
    height:340px;
    margin-left:100px;
    margin-top:20px;

    }
    
        .course-card{
    flex-basis:10px;
    padding-bottom: 40px;
    gap:5px;

    }
    .place2-image img{
    width:100%;
    height:700px;
    padding:0px;  
}
.place2-image-2025{
    font-size: medium;
}
.bottom-logo p{
    white-space:nowrap;
}

.bottom-footer1{
    display:none;  

}















